<mj-section css-class="button-wrap">
  <mj-column>
    {% block primary_outer %}
      <mj-button
        href="{% block primary_url %}{{ primary.url | default('{{ shop.url }}') }}{% endblock %}"
        css-class="button"
      >
        {% block primary_text %}
          {{ primary.text | default('Visit our store') }}
        {% endblock %}
      </mj-button>
    {% endblock %}

    {% block secondary_outer %}
      <mj-text
        align="center"
        font-size="14px"
        padding="5px 0"
      >
        {% block secondary %}
          or <a href="{% block secondary_url %}{{ secondary.url | default('{{ shop.url }}') }}{% endblock %}">
            {% block secondary_text %}{{ secondary.text | default('Visit our store') }}{% endblock %}
          </a>
        {% endblock %}
      </mj-text>
    {% endblock %}
  </mj-column>
</mj-section>